### Bài 4.1

In [1]:
import numpy as np
import pandas as pd

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

# Tạo Series từ list
s_from_list = pd.Series(mylist)

# Tạo Series từ numpy array
s_from_array = pd.Series(myarr)

# Tạo Series từ dictionary
s_from_dict = pd.Series(mydict)

print("Series từ list:")
print(s_from_list)

print("\nSeries từ numpy array:")
print(s_from_array)

print("\nSeries từ dictionary:")
print(s_from_dict)

Series từ list:
0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

Series từ numpy array:
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64

Series từ dictionary:
a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

Bài 4.2

In [1]:
import numpy as np
import pandas as pd

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

# Chuyển Series thành DataFrame và đưa index thành cột mới
df = ser.reset_index()
df.columns = ['index_col', 'value']  # đổi tên cột cho dễ hiểu

print(df)

   index_col  value
0          a      0
1          b      1
2          c      2
3          e      3
4          d      4
5          f      5
6          g      6
7          h      7
8          i      8
9          j      9
10         k     10
11         l     11
12         m     12
13         n     13
14         o     14
15         p     15
16         q     16
17         r     17
18         s     18
19         t     19
20         u     20
21         v     21
22         w     22
23         x     23
24         y     24
25         z     25

### Bài 4.3

In [2]:
import numpy as np
import pandas as pd

ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

# Ghép 2 series thành DataFrame
df = pd.DataFrame({
    'col1': ser1,
    'col2': ser2
})

print(df)

   col1  col2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

### Bài 4.4 ###

In [3]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [8]:
# 1. Từ ser1 hãy xóa các mục có mặt trong ser2
filtered_ser1 = ser1[~ser1.isin(ser2)]
print(filtered_ser1)

# 2. Lấy tất cả các mục của ser1 và ser2 nhưng không nằm chung trong cả 2
unique_values = pd.Series(list(set(ser1).symmetric_difference(set(ser2))))
print(unique_values)

0    1
1    2
2    3
dtype: int64
0    1
1    2
2    3
3    6
4    7
5    8
dtype: int64

### Bài 4.5

In [7]:
import numpy as np
import pandas as pd

ser = pd.Series(np.random.normal(10, 5, 25))

# 1. Giá trị nhỏ nhất (minimum)
min_val = ser.min()

# 2. Phần centile thứ 25 (25th percentile)
p25 = ser.quantile(0.25)

# 3. Trung vị (median)
median_val = ser.median()

# 4. Phần centile thứ 75 (75th percentile)
p75 = ser.quantile(0.75)

# 5. Giá trị lớn nhất (maximum)
max_val = ser.max()

print("Min:", min_val)
print("25th percentile:", p25)
print("Median:", median_val)
print("75th percentile:", p75)
print("Max:", max_val)

Min: -0.8682487525641456
25th percentile: 6.107370970825932
Median: 9.317015502829793
75th percentile: 13.796696016977625
Max: 18.10373454989186

### Bài 4.6

In [9]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

## Giải thích ý nghĩa đoạn code
+ list('abcdefgh'): Tạo danh sách.
+ np.random.randint(8, size=30): Tạo 30 số nguyên ngẫu nhiên trong khoảng 0 → 7.
+ np.take(list('abcdefgh'), ...): Lấy các ký tự theo chỉ số trong danh sách 'abcdefgh'.
+ pd.Series(...): Chuyển kết quả thành Series gồm 30 ký tự, mỗi ký tự là một trong 'a' đến 'h'.

---->Tóm lại: Đoạn code tạo ra 1 Series gồm 30 chữ cái (a–h) được chọn ngẫu nhiên.

In [ ]:
# Tính số lần xuất hiện của mỗi giá trị duy nhất trong ser
counts = ser.value_counts()
print(counts)

d    6
c    6
b    5
a    4
f    3
e    3
g    2
h    1
Name: count, dtype: int64

## Bài 4.7

In [13]:
import numpy as np
import pandas as pd

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

# 1. Tìm 2 giá trị có tần suất cao nhất
top2 = ser.value_counts().nlargest(2).index

# 2. Thay phần tử không thuộc top 2 = 'Other'
result = ser.where(ser.isin(top2), 'Other')

print("Series ban đầu:")
print(ser)
print("\nSeries sau khi xử lý:")
print(result)

Series ban đầu:
0     1
1     4
2     1
3     2
4     4
5     2
6     4
7     4
8     2
9     4
10    3
11    3
dtype: int32

Series sau khi xử lý:
0     Other
1         4
2     Other
3         2
4         4
5         2
6         4
7         4
8         2
9         4
10    Other
11    Other
dtype: object

## Bài 4.8

In [14]:
import numpy as np
import pandas as pd

ser = pd.Series(np.random.random(20))

# 1. Tạo nhãn phân vị từ D1 đến D10
labels = [f"D{i}" for i in range(1, 11)]

# 2. Dùng qcut để chia thành 10 phân vị
ser_deciled = pd.qcut(ser, 10, labels=labels)

print("Series ban đầu:")
print(ser)

print("\nSeries sau khi thay bằng phân vị:")
print(ser_deciled)

Series ban đầu:
0     0.963949
1     0.319311
2     0.697456
3     0.957237
4     0.366948
5     0.963622
6     0.609738
7     0.824744
8     0.914111
9     0.079126
10    0.294346
11    0.270868
12    0.704444
13    0.236525
14    0.009214
15    0.884680
16    0.219196
17    0.678901
18    0.461254
19    0.826830
dtype: float64

Series sau khi thay bằng phân vị:
0     D10
1      D4
2      D6
3      D9
4      D4
5     D10
6      D5
7      D7
8      D9
9      D1
10     D3
11     D3
12     D7
13     D2
14     D1
15     D8
16     D2
17     D6
18     D5
19     D8
dtype: category
Categories (10, object): ['D1' < 'D2' < 'D3' < 'D4' ... 'D7' < 'D8' < 'D9' < 'D10']

## Bài 4.9

In [ ]:
ser = pd.Series(np.random.randint(1, 10, 35))

## Giải thích ý nghĩa mã lệnh trên
+ np.random.randint(1, 10, 35): 
   Tạo 35 số nguyên ngẫu nhiên.
   Mỗi số nằm trong khoảng từ 1 đến 9 (không bao gồm 10).
+ pd.Series(...): Chuyển danh sách 35 số ngẫu nhiên thành một Series của pandas.

--->Tóm lại: Đoạn code tạo ra một Series gồm 35 số nguyên ngẫu nhiên từ 1 đến 9.

In [15]:
# 2. Định hình lại ser thành DataFrame 7 hàng × 5 cột
import numpy as np
import pandas as pd

ser = pd.Series(np.random.randint(1, 10, 35))

# Reshape thành DataFrame 7 hàng, 5 cột
df = ser.values.reshape(7, 5)

df = pd.DataFrame(df)
print(df)

   0  1  2  3  4
0  6  2  9  8  3
1  3  1  7  8  9
2  7  8  4  4  7
3  4  9  7  5  5
4  9  2  4  7  4
5  7  8  5  8  9
6  1  1  5  2  4

### Bài 4.10

In [17]:
# Tìm vị trí (index) của các số là bội của 3
ser = pd.Series(np.random.randint(1, 10, 7))
ser % 3 == 0
positions = ser[ser % 3 == 0].index
print(positions)

Index([0, 3], dtype='int64')

## Bài 4.11

In [3]:
import pandas as pd 
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
ser[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

## Bài 4.12

In [7]:
import pandas as pd

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

vertical = pd.concat([ser1, ser2])
horizontal = pd.concat([ser1, ser2], axis=1)

print(vertical)
print(horizontal)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

## Bài 4.13

In [8]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
result = ser1[ser1.isin(ser2)].index.tolist()
print(result)

[0, 4, 5, 8]

## Bài 4.14

In [11]:
import pandas as pd
import numpy as np
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
mse = ((truth - pred) ** 2).mean()
print(mse)

0.2812407070450081

## Bài 4.15

In [12]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
result = ser.str.capitalize()
print(result)

0     How
1      To
2    Kick
3    Ass?
dtype: object

## Bài 4.16

In [13]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
result = ser.diff().diff()
print(result)

0    NaN
1    NaN
2    1.0
3    1.0
4    1.0
5    1.0
6    0.0
7    2.0
dtype: float64

## Bài 4.17

In [21]:
import pandas as pd

# Dữ liệu ban đầu
ser = pd.Series([
    '01 Jan 2010',
    '02-02-2011',
    '20120303',
    '2013/04/04',
    '2014-05-05',
    '2015-06-06T12:20'
])

result = pd.to_datetime(ser_clean, errors='coerce')

print(result)

0   2010-01-01
1          NaT
2          NaT
3          NaT
4          NaT
5          NaT
dtype: datetime64[ns]

## Bài 4.18

In [22]:
import pandas as pd

# Dữ liệu đầu vào
emails = pd.Series([
    'buying books at amazom.com',
    'rameses@egypt.com',
    'matt@t.co',
    'narendra@modi.com'
])

# Mẫu regex đã sửa
pattern = r'[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}'

# Lọc email hợp lệ
valid_emails = emails[emails.str.contains(pattern, regex=True)]

print(valid_emails)

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

## Bài 4.19

In [23]:
import pandas as pd
import numpy as np

# Dữ liệu đầu vào
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))

# Tính khối lượng trung bình theo từng loại quả
result = pd.DataFrame({
    'fruit': fruit,
    'weight': weights
}).groupby('fruit')['weight'].mean()

print(result)

fruit
apple     7.666667
banana    4.200000
carrot    5.500000
Name: weight, dtype: float64

## Bài 4.20

In [5]:
import pandas as pd

# Đọc file euro12.csv (đặt file cùng thư mục với file .py hoặc notebook)
euro12 = pd.read_csv(r"C:\Users\Dell N5430\OneDrive\Đính kèm\PNC\18A1PNC\chuong_04\Euro2012.csv")

# . In type, shape, danh sách cột
print("== THÔNG TIN EURO12 ==")
print(type(euro12))
print(euro12.shape)
print(euro12.columns)

# 1. In giá trị cột Goals
print("\n== CỘT GOALS ==")
print(euro12["Goals"])

# 2. Có bao nhiêu đội tham gia Euro2012?
print("\n== SỐ ĐỘI BÓNG ==")
print("Số đội:", euro12["Team"].nunique())

# 3. In thông tin của Euro2012
print("\n== INFO ==")
print(euro12.info())

# 4. Tạo data frame discipline
discipline = euro12[["Team", "Yellow Cards", "Red Cards"]]
print("\n== DISCIPLINE ==")
print(discipline)

# 5. Sắp xếp giảm dần theo Red Cards, Yellow Cards
discipline_sorted = discipline.sort_values(
    by=["Red Cards", "Yellow Cards"], ascending=False
)
print("\n== DISCIPLINE SẮP XẾP ==")
print(discipline_sorted)

# 6a. Tính trung bình Yellow Cards
print("\n== TRUNG BÌNH YELLOW CARDS ==")
print(discipline["Yellow Cards"].mean())

# 6b. Lọc đội ghi hơn 6 bàn
print("\n== ĐỘI GHI > 6 BÀN ==")
print(euro12[euro12["Goals"] > 6])

# 7. In các đội tên bắt đầu bằng chữ G
print("\n== ĐỘI BẮT ĐẦU BẰNG 'G' ==")
print(euro12[euro12["Team"].str.startswith("G")])

# 8. In 7 cột đầu
print("\n== 7 CỘT ĐẦU ==")
print(euro12.iloc[:, :7])

# 9. In tất cả cột trừ 3 cột cuối
print("\n== TRỪ 3 CỘT CUỐI ==")
print(euro12.iloc[:, :-3])

# 10. In các cột Team, Goals, Shooting Accuracy, Yellow Cards, Red Cards
print("\n== 5 CỘT QUAN TRỌNG ==")
cols = ["Team", "Goals", "Shooting Accuracy", "Yellow Cards", "Red Cards"]
print(euro12[cols])

# 11. Chỉ hiển thị Shooting Accuracy của England, Italy, Russia
print("\n== SHOOTING ACCURACY - 3 ĐỘI ==")
print(euro12[euro12["Team"].isin(["England", "Italy", "Russia"])]
      [["Team", "Shooting Accuracy"]])

== THÔNG TIN EURO12 ==
<class 'pandas.core.frame.DataFrame'>
(16, 18)
Index(['Team', 'Goals', 'Shots on target', 'Shots off target', 'Shots',
       'Possession %', 'Passes', 'Passes completed', 'Distance Covered (Kms)',
       'Corners', 'Offsides', 'Yellow Cards', 'Red Cards', 'Fouls Committed',
       'Fouls Suffered', 'Shooting Accuracy', 'Pass Accuracy',
       'Goals-to-shots ratio'],
      dtype='object')

== CỘT GOALS ==
0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

== SỐ ĐỘI BÓNG ==
Số đội: 16

== INFO ==
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Team                    16 non-null     object
 1   Goals                   16 non-null     int64
 2   Shots on target         16 non-null     int64
 3   Shots off target        16 non-null     int64
 4   Shots                   16 non-null     int64
 5   Possession %            16 non-null     int64
 6   Passes                  16 non-null     int64
 7   Passes completed        16 non-null     int64
 8   Distance Covered (Kms)  16 non-null     int64
 9   Corners                 16 non-null     int64
 10  Offsides                16 non-null     int64
 11  Yellow Cards            16 non-null     int64
 12  Red Cards               16 non-null     int64
 13  Fouls Committed         16 non-null     int64
 14  Fouls Suffered          16 non-null     int64
 15  Shooting Accuracy       16 non-null     object
 16  Pass Accuracy           16 non-null     object
 17  Goals-to-shots ratio    16 non-null     object
dtypes: int64(14), object(4)
memory usage: 2.4+ KB
None

== DISCIPLINE ==
                   Team  Yellow Cards  Red Cards
0               Croatia             6          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          0
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             9          0
15              Ukraine             5          0

== DISCIPLINE SẮP XẾP ==
                   Team  Yellow Cards  Red Cards
6                Greece             9          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
14               Sweden             9          0
1        Czech Republic             7          0
9                Poland             7          0
0               Croatia             6          0
4                France             6          0
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0

== TRUNG BÌNH YELLOW CARDS ==
7.375

== ĐỘI GHI > 6 BÀN ==
       Team  Goals  Shots on target  Shots off target  Shots  Possession %  \
5   Germany     10               32                32     64            60
13    Spain     12               42                58    100            68

    Passes  Passes completed  Distance Covered (Kms)  Corners  Offsides  \
5      611               548                     119       23         8
13     917               848                     137       24         8

    Yellow Cards  Red Cards  Fouls Committed  Fouls Suffered  \
5              4          0               55              44
13            11          0               83              57

   Shooting Accuracy Pass Accuracy Goals-to-shots ratio
5                33%           90%                  16%
13               42%           92%                  12%

== ĐỘI BẮT ĐẦU BẰNG 'G' ==
      Team  Goals  Shots on target  Shots off target  Shots  Possession %  \
5  Germany     10               32                32     64            60
6   Greece      5                9                12     21            42

   Passes  Passes completed  Distance Covered (Kms)  Corners  Offsides  \
5     611               548                     119       23         8
6     274               185                     113       10         5

   Yellow Cards  Red Cards  Fouls Committed  Fouls Suffered Shooting Accuracy  \
5             4          0               55              44               33%
6             9          1               35              36               43%

  Pass Accuracy Goals-to-shots ratio
5           90%                  16%
6           67%                  24%

== 7 CỘT ĐẦU ==
                   Team  Goals  Shots on target  Shots off target  Shots  \
0               Croatia      4               11                24     35
1        Czech Republic      4                9                13     22
2               Denmark      4               10                21     31
3               England      5               11                18     29
4                France      3               22                24     46
5               Germany     10               32                32     64
6                Greece      5                9                12     21
7                 Italy      6               36                43     79
8           Netherlands      2               12                36     48
9                Poland      2               15                23     38
10             Portugal      6               22                42     64
11  Republic of Ireland      1                6                19     25
12               Russia      5               16                24     40
13                Spain     12               42                58    100
14               Sweden      5               23                25     48
15              Ukraine      2                8                15     23

    Possession %  Passes
0             54     439
1             46     345
2             43     314
3             36     297
4             65     545
5             60     611
6             42     274
7             67     761
8             57     489
9             50     318
10            54     429
11            39     322
12            55     476
13            68     917
14            51     416
15            46     423

== TRỪ 3 CỘT CUỐI ==
                   Team  Goals  Shots on target  Shots off target  Shots  \
0               Croatia      4               11                24     35
1        Czech Republic      4                9                13     22
2               Denmark      4               10                21     31
3               England      5               11                18     29
4                France      3               22                24     46
5               Germany     10               32                32     64
6                Greece      5                9                12     21
7                 Italy      6               36                43     79
8           Netherlands      2               12                36     48
9                Poland      2               15                23     38
10             Portugal      6               22                42     64
11  Republic of Ireland      1                6                19     25
12               Russia      5               16                24     40
13                Spain     12               42                58    100
14               Sweden      5               23                25     48
15              Ukraine      2                8                15     23

    Possession %  Passes  Passes completed  Distance Covered (Kms)  Corners  \
0             54     439               364                     110       17
1             46     345               273                     109       11
2             43     314               248                     107        8
3             36     297               214                     109       13
4             65     545               500                     121       17
5             60     611               548                     119       23
6             42     274               185                     113       10
7             67     761               676                     136       30
8             57     489               423                     111       20
9             50     318               250                     110       17
10            54     429               367                     115       20
11            39     322               258                     108       12
12            55     476               416                     116       15
13            68     917               848                     137       24
14            51     416               352                     110       10
15            46     423               370                     118       10

    Offsides  Yellow Cards  Red Cards  Fouls Committed  Fouls Suffered
0          5             6          0               41              53
1          2             7          0               34              40
2          5             4          0               24              31
3         20             5          0               45              35
4          8             6          0               51              51
5          8             4          0               55              44
6          5             9          1               35              36
7          2            16          0               63              68
8          6             5          0               28              28
9          3             7          0               49              58
10         6            12          0               71              72
11         5             6          1               40              42
12         5             6          0               40              34
13         8            11          0               83              57
14         6             9          0               33              50
15         2             5          0               29              37

== 5 CỘT QUAN TRỌNG ==
                   Team  Goals Shooting Accuracy  Yellow Cards  Red Cards
0               Croatia      4               31%             6          0
1        Czech Republic      4               29%             7          0
2               Denmark      4               32%             4          0
3               England      5               38%             5          0
4                France      3               32%             6          0
5               Germany     10               33%             4          0
6                Greece      5               43%             9          1
7                 Italy      6               46%            16          0
8           Netherlands      2               25%             5          0
9                Poland      2               39%             7          0
10             Portugal      6               34%            12          0
11  Republic of Ireland      1               24%             6          1
12               Russia      5               40%             6          0
13                Spain     12               42%            11          0
14               Sweden      5               48%             9          0
15              Ukraine      2               35%             5          0

== SHOOTING ACCURACY - 3 ĐỘI ==
       Team Shooting Accuracy
3   England               38%
7     Italy               46%
12   Russia               40%

## Bài 4.21

In [17]:
import pandas as pd

drink = pd.read_csv("drinks.csv")

print("=== Cột ===")
print(drink.columns)

print("\n=== 5 dòng đầu ===")
print(drink.head())

print("\n=== 5 dòng cuối ===")
print(drink.tail())

# Bia trung bình theo châu lục
print("\n=== BIA TRUNG BÌNH THEO CHÂU LỤC ===")
print(drink.groupby("continent")["beer_servings"].mean())

# Thống kê rượu vang theo châu lục
print("\n=== THỐNG KÊ RƯỢU VANG ===")
print(drink.groupby("continent")["wine_servings"].describe())

# Trung bình các loại bia + rượu theo châu lục
print("\n=== TRUNG BÌNH BIA + RƯỢU THEO CHÂU LỤC ===")
print(drink.groupby("continent")[["beer_servings","spirit_servings","wine_servings"]].mean())

# Median
print("\n=== MEDIAN THEO CHÂU LỤC ===")
print(drink.groupby("continent")[["beer_servings","spirit_servings","wine_servings"]].median())

# Spirit min/max/mean
print("\n=== SPIRIT: MEAN - MIN - MAX ===")
print(drink.groupby("continent")["spirit_servings"].agg(["mean","min","max"]))

# Sort tăng dần theo bia
print("\n=== SORT BIA TĂNG DẦN ===")
print(drink.sort_values("beer_servings").head())

# 5 nước uống bia nhiều nhất
print("\n=== TOP 5 UỐNG BIA NHIỀU NHẤT ===")
print(drink.sort_values("beer_servings", ascending=False).head())

# 5 nước uống bia ít nhất
print("\n=== TOP 5 UỐNG BIA ÍT NHẤT ===")
print(drink.sort_values("beer_servings").head())

=== Cột ===
Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

=== 5 dòng đầu ===
       country  beer_servings  spirit_servings  wine_servings  \
0  Afghanistan              0                0              0
1      Albania             89              132             54
2      Algeria             25                0             14
3      Andorra            245              138            312
4       Angola            217               57             45

   total_litres_of_pure_alcohol continent
0                           0.0        AS
1                           4.9        EU
2                           0.7        AF
3                          12.4        EU
4                           5.9        AF

=== 5 dòng cuối ===
       country  beer_servings  spirit_servings  wine_servings  \
176  Venezuela            333              100              3
177    Vietnam            111                2              1
178      Yemen              6                2              0
179     Zambia             32               19              4
180   Zimbabwe             64               18              4

     total_litres_of_pure_alcohol continent
176                           7.7        SA
177                           2.0        AS
178                           0.1        AS
179                           1.4        AF
180                           1.4        AF

=== BIA TRUNG BÌNH THEO CHÂU LỤC ===
continent
AF     62.843137
AS     36.902439
EU    199.065217
OC    118.555556
SA    175.083333
Name: beer_servings, dtype: float64

=== THỐNG KÊ RƯỢU VANG ===
           count        mean        std  min    25%    50%     75%    max
continent
AF          51.0    9.078431  15.407587  0.0   1.00    3.0   10.00   81.0
AS          41.0    4.390244   6.518735  0.0   0.00    1.0    7.00   32.0
EU          46.0  140.282609  96.190243  5.0  56.75  127.5  210.25  370.0
OC           9.0   44.000000  85.264295  1.0   1.00    1.0    3.00  212.0
SA          12.0   63.083333  88.108877  3.0   6.00   15.0   98.50  221.0

=== TRUNG BÌNH BIA + RƯỢU THEO CHÂU LỤC ===
           beer_servings  spirit_servings  wine_servings
continent
AF             62.843137        14.764706       9.078431
AS             36.902439        39.975610       4.390244
EU            199.065217       136.956522     140.282609
OC            118.555556        39.111111      44.000000
SA            175.083333       104.666667      63.083333

=== MEDIAN THEO CHÂU LỤC ===
           beer_servings  spirit_servings  wine_servings
continent
AF                  34.0              4.0            3.0
AS                  22.0             18.0            1.0
EU                 227.0            117.5          127.5
OC                 111.0             26.0            1.0
SA                 162.5             87.5           15.0

=== SPIRIT: MEAN - MIN - MAX ===
                 mean  min  max
continent
AF          14.764706    0   98
AS          39.975610    0  202
EU         136.956522   22  373
OC          39.111111   11   89
SA         104.666667   25  302

=== SORT BIA TĂNG DẦN ===
         country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
13    Bangladesh              0                0              0
73          Iran              0                0              0
74          Iraq              0                2              0
117     Pakistan              0                0              0

     total_litres_of_pure_alcohol continent
0                             0.0        AS
13                            0.0        AS
73                            0.0        AS
74                            0.2        AS
117                           0.0        AS

=== TOP 5 UỐNG BIA NHIỀU NHẤT ===
            country  beer_servings  spirit_servings  wine_servings  \
107         Namibia            376                3              9
42   Czech Republic            361              170            134
57            Gabon            347               98             59
60          Germany            346              117            175
91        Lithuania            343              244             56

     total_litres_of_pure_alcohol continent
107                           6.8        AF
42                           13.7        EU
57                            8.9        AF
60                           11.8        EU
91                           12.9        EU

=== TOP 5 UỐNG BIA ÍT NHẤT ===
         country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
13    Bangladesh              0                0              0
73          Iran              0                0              0
74          Iraq              0                2              0
117     Pakistan              0                0              0

     total_litres_of_pure_alcohol continent
0                             0.0        AS
13                            0.0        AS
73                            0.0        AS
74                            0.2        AS
117                           0.0        AS